<div class="container bg-white shadow-lg rounded">
  <div class="row">
    <aside class="bg-light" style="width: 280px">
      <app-sidebar></app-sidebar>
    </aside>
    <main class="col border">
      <div class="d-grid gap-2 d-md-flex mt-2 mb-2">
        <div class="ms-auto">
          <button type="button" class="btn btn-outline-secondary me-2" data-bs-toggle="modal"
            data-bs-target="#editProjectModal">
            Edit project
          </button>
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
            data-bs-target="#deleteProjectModal">
            Delete project
          </button>
        </div>
      </div>

      <select #sel (change)="onNavigate(sel.value)" class="form-select mb-2" aria-label="Sort by...">
        <option value="id,asc" selected>Default</option>
        <option value="name,asc">Name ASC</option>
        <option value="name,desc">Name DESC</option>
        <option value="date,asc">Date ASC</option>
        <option value="date,desc">Date DESC</option>
      </select>

      <div class="modal fade" id="editProjectModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">Edit project</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="editProjectForm" (ngSubmit)="editProject(editProjectForm.value)">
              <div class="modal-body">
                <label for="projectName" class="form-label">Project name</label>
                <input formControlName="name" type="text" class="form-control" id="projectName" required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">Delete project</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" type="submit" (click)="deleteProject()">Submit</button>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngFor="let item of items">
        <ng-container *ngIf="!item.completed">
          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{item.description}}</h6>
              <p class="card-text"><small class="text-muted">{{item.date}}</small></p>

              <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-primary me-2" (click)="completeTask(item.id)">Complete</button>
                <button type="button" class="btn btn-secondary me-2" data-bs-toggle="modal"
                  [attr.data-bs-target]="'#editTaskModal' + item.id">Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteTask(item.id)">Delete</button>
              </div>

              <div class="modal fade" id="{{'editTaskModal' + item.id}}" tabindex="-1" aria-labelledby="modalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalLabel">Edit task</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form [formGroup]="editTaskForm" (ngSubmit)="editTask(editTaskForm.value, item.id)">
                      <div class="modal-body">
                        <label for="projectName" class="form-label">Name</label>
                        <input formControlName="name" type="text" class="form-control" id="projectName" required>
                        <label for="projectName" class="form-label">Description</label>
                        <input formControlName="description" type="text" class="form-control" id="projectName">
                        <label for="projectName" class="form-label">Date</label>
                        <input formControlName="date" type="date" class="form-control" id="projectName">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" type="submit">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <button type="button" class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#addTaskModal">
        Add task
      </button>

      <div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">Add task</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="addTaskForm" (ngSubmit)="addTask(addTaskForm.value)">
              <div class="modal-body">
                <label for="projectName" class="form-label">Name</label>
                <input formControlName="name" type="text" class="form-control" id="projectName" required>
                <label for="projectName" class="form-label">Description</label>
                <input formControlName="description" type="text" class="form-control" id="projectName">
                <label for="projectName" class="form-label">Date</label>
                <input formControlName="date" type="date" class="form-control" id="projectName">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" type="submit">Add task</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>